{% extends 'base.html' %} {% block content %}
<div class="info">
    <div class="para">
        <p><span class="braindump">Brain Dump</span> is an anonymous platform to share your thoughts without fear of
            judgement.</p>

        <p>Below lies several examples of categories to get your brain storming. Once ready to dump, select the <i
                class="material-icons">add_box</i> button at the center of the navigation tools at the bottom of your
            screen.</p>

        <p>Once posted, your dump will appear on the Home page.</p>

        <p> Happy dumping free thinkers!</p>
    </div>
    <p class="cat">Story</p>
    <p class="exp">Share about a story you lived through.</p>

    <p class="cat">Vent</p>
    <p class="exp">Voice your worries, concerns and frustrations.</p>

    <p class="cat">Confession</p>
    <p class="exp">Get a weight off of your shoulders.</p>

    <p class="cat">Idea</p>
    <p class="exp">Share an insightful thought.</p>

    <p class="cat">Advice</p>
    <p class="exp">Tell about something you've learned.</p>

    <p class="cat">Opinion</p>
    <p class="exp">Write your hot takes.</p>

    <p class="cat">Creative Writing</p>
    <p class="exp">Share a poem.</p>

    <p class="cat">Fun Fact</p>
    <p class="exp">Interesting tidbits.</p>
</div>


{% endblock %}