{% extends 'base.html' %} {% block content %}
<div class="card" id="detail-card">
    <div class="card-content">
        <h1 class="post-title">{{ post.title }}</h1>
    </div>
    <p class="text">{{ post.text }}</p>
    <p>{{ post.date }}</p>

    <div class="card-action">
        <a href="{% url 'post_update' post.id %}">Edit Text and Title</a>
        <a href="{% url 'post_delete' post.id %}">Delete</a>
    </div>
    <form action="{%url 'add_comment' post.id %}" method="post">
        {% csrf_token %} {{ comment_form.as_p }}
        <input type="submit" class="btn" value="Comment" />
    </form>
    {% for comment in post.comment_set.all %}
    <p>{{comment.text}}</p>
    <p>{{comment.date}}</p>
    {% endfor %}
</div>
</div>
<script>
    var selectEl = document.getElementById('id_option');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}