{% extends 'base.html' %} {% block content %}
<div class="card" id="detail-card">
    <div class="card-content">
        <h1 class="post-title">{{ post.title }}</h1>
        <form action="{% url 'add_category' post.id %}" method="post">
            {% csrf_token %} {{ category_form.as_p }}
            <input type="submit" class="btn" value="Add Category">
          </form>
        <table class="striped">
            <tbody>
                {% for category in post.category_set.all %}
                <tr>
                    <td>{{category.get_option_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      <p>{{ post.text }}</p>
      <p>{{ post.date }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'post_update' post.id %}">Edit Text and Title</a>
        <a href="{% url 'post_delete' post.id %}">Delete</a>
    </div>
  </div>
  <script>
    var selectEl = document.getElementById('id_option');
    M.FormSelect.init(selectEl);
  </script>
{% endblock %}