{% extends 'base.html' %} {% block content %}

{% if output %}
<div class="post-container">
    {% for post in output %}
    <a href="{% url 'detail' post.id %}">
        <div class="post">
            {% for category in post.category_set.all %}
            <h2><span class="post-category">{{category.get_option_display}}</span></h2>
            {% endfor %}
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-date">{{ post.date }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<p>No Posts Yet</p>
{% endif %}

{% endblock %}