footer {
    position: fixed;
    bottom: 0;
}

.row {
    margin: 0;
}

ul {
    margin-left: 8vh;
    margin-right: 5vh
}

li {
    display: inline;
    display: inline-block;
    margin: .5vh
}

i {
    color:
        #4aa596
}

#blue {
    color: #008e98
}

header {
    color: #008e98;
    text-align: left;
    font-family: 'Share Tech Mono', monospace;
    background-image: url('https://cdn1.vectorstock.com/i/1000x1000/27/75/70s-1970-abstract-stock-retro-lines-vector-31142775.jpg');
    background-size: cover;
}

body {
    background-color:
        #fff0d9
}

/* Home Page */

.post-container {
    padding-bottom: 20vh;
    scroll-behavior: smooth;
    max-height: 65vh;
    overflow: auto;
    box-shadow: 10px 10px 10px #fe9f61;
}

.post {
    scroll-margin-block-end: 0;
    height: 40vh;
    width: 40vh;
    background-color: #fff0d9;
    margin: auto;
    border: 2vh solid #f3d29c;
    padding: 5px;
    color: black;
    border-radius: 10vh;
}

.post-title {
    font-size: 4.5vh;
    text-align: center;
    margin-top: 1vh;
    font-family: 'Big Shoulders Text', cursive;

}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.post-category {
    font-size: 3.5vh;
    text-align: center;
    background-color: #6faf99;
    color: white;
    border-radius: 1vh;
    font-weight: 600;
    display: inline-block;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.post-date {
    text-align: center;
}

.no {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 8vh;
    text-align: center;
    justify-content: center;
}

/* Detail Page */

#detail-card {
    padding-bottom: 20vh;
    scroll-behavior: smooth;
    max-height: 65vh;
    overflow: auto;
}

.text {
    font-size: 3vh
}

/* About Page */

.info {
    padding-bottom: 20vh;
    scroll-behavior: smooth;
    max-height: 65vh;
    overflow: auto; 
}

.cat {
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 5vh;
    margin-bottom: 0;
    color: #fe9f61
}

.exp {
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 4vh;
    margin-top: 0;
    color: gray
}

.braindump {
    font-family: 'Share Tech Mono', monospace;
}

.para {
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 4vh;
    color:#4aa596
}